/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.ui-datepicker {
	height: 200px ;
    padding: 0.2em 0.2em 0;
    width: 200px;
	background: #555;
   border: 1px solid #555;
   color: #EEE;
 }
 .ui-datepicker-month
 {
 	width: 100px;
}
.ui-datepicker-year
 {
 	width: 100px;
}
